.work {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding: o 1rem;
}

.work-title {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
}

.work-desc {
    font-weight: 100;
    font-size: 1rem;
    max-width: 100ch;
    padding: 1rem 2rem;
}

.work-images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100wv;
    max-width: 65rem;
    flex-wrap: wrap;
    position: relative;
}

.image-container .image-link {
    position: absolute;
    bottom: 40px;
    left: 160px;
    padding: 1rem;
    background: #fff;
}

.work-image {
    object-fit: cover;
    width: 266px;
    height: 315px;
    margin: 0.5rem;
    border-radius: 10px;
}
