.intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    gap: 20px;
    display: flex;
}

.image {
    /* position: absolute; */
    top: -0rem;
    right: 0;
    object-fit: cover;
    z-index: -1;
    height: 100vh;
    flex: 1;
}

.intro-content {
    /* height: 100vh; */
    /* width: 50px; */
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    flex: 1;
    margin-left: 6rem;
}

.greeting {
    font-size: 1.3rem;
    font-weight: 100;
    font-weight: 500;
}

.intro-text {
    font-size: 1rem;
    font-weight: 100;
    max-width: 60ch;
}

.introduction{
    font-size: 2rem;
}

.introduction .title{
    text-transform: uppercase;
    font-size: 4rem;
}

.intro-name {
    color: rgb(204, 153, 51);
    font-size: 1.5rem
}

.icon {
    object-fit: cover;
    width: 1rem;
}

.btn {
    background: #fff !important;
    border: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 1rem;
    font-weight: 600;
    gap: 10px;
    border-radius: 50px;
    margin-top: 20px;
}

/* media query */
@media (max-width: 720px) {

    .image {
        position: absolute;
        margin: auto;
    }
    
    .intro-content {
        margin: 0;
    }
}
